@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Metropolis", "sans-serif";
}

.btn-gradient-border {
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.btn-gradient-border:hover {
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.typed-out {
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  animation: typing 6s forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}